
<html>
    <%- include("partials/head", {title: title}); %>
    <body>
        <%- include("partials/errors"); %>
        <% if (authenticated) { %>
        <a href="/message/create">Create</a>
        <a href="/special-club">Join the special club</a>. 
        <form method="post" action="/log-out">
            <button type="submit">Log out</button>
        </form>
        <% } else { %>
            <a href="/log-in">Log In</a> Or
            <a href="/sign-up">Sign Up</a>
        <% } %> 

        <% for (message of messages) { %>
            <li> 
                <%= message.message %> 
                <% if (authenticated && specialMember) { %>
                    - <%= message.username %> [ <%= message.timestamp.toLocaleDateString() %> ]
                <% } else { %>
                    - anonymous 
                <% } %>
            </li>
        <% } %>
    </body>
</html>
