<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <%- include("partials/common_head") %>
        <link href="index.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="brand">
                <a href="/">Chitthi</a>
            </div>
            <nav>
                <ul class="nav_links">
                <% if (authenticated) { %>
                    <% if (!specialMember) { %>
                        <li>
                            <a href="/special-club">Become Special</a>
                        </li> 
                    <% } %>
                    <% if (!admin) { %>
                        <li>
                            <a href="/admin">Admin Login</a>
                        </li>
                    <% } %>
                    <li>
                        <form method="post" action="/log-out">
                            <button type="submit">Log out</button>
                        </form>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/log-in">Log In</a> 
                    </li>
                <% } %> 
                </ul>
            </nav>
        </header>
        <div class="seperator"></div>
        <main>
            <%- include("partials/errors"); %>

            <% if (authenticated) { %>
                <div class="create-message-container">
                    <a href="/message/create">Create new message</a>
                </div>
            <% } else { %>

            <% } %>

            <ul class="messages">
                <% for (message of messages) { %>
                    <li class="message-container"> 
                        <div class="message">
                            <%= message.message %> 
                        </div>
                        <div class="message-data">
                            <div class="message-metadata">
                                <% if (authenticated && specialMember) { %>
                                <div class="message-username">
                                    <%= message.username %> 
                                    <span class="message-date">
                                        [ <%= message.timestamp.toLocaleDateString() %> ]
                                    </span>
                                </div>
                                <% } else { %>
                                <div class="message-username">
                                    - anonymous 
                                </div>
                                <% } %>
                            </div>
                            <div class="message-controls">
                                <% if (authenticated && admin) {%>
                                    <div class="message-delete-btn-container">
                                        <form method="post" action="/message/delete/<%= message.message_id %>">
                                            <button type="submit">Delete Message</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>

        </main>
    </body>
</html>
